<%# 
Written By : Michael Watkins
Date : 10/9/24
Desc : 
Shows the information about users to potentially administrators to manage data and confirm
that the db was handling the information correctly. Allows for addition, deletion, and viewing of data stored in our DB. 

To-DO: 
-Better UI to make it look better and easier to traverse. 
-Allow only access to account information to either that particular user and or only admins, may need to make a seperate page that is only for that user. 
-Need to fix the Delete User, user_path as it does not work compared to the button version on the index.html.erb file. 
 %>

<h1>User Profile</h1>

<p><strong>ID:</strong> <%= @user.id %></p>
<p><strong>Username:</strong> <%= @user.username %></p>

<p><strong>Email:</strong> <%= @user.email%></p>
<!-- Display the hashed password if necessary, though showing passwords is generally discouraged -->
<p><strong>Password (hashed):</strong> <%= @user.password_digest %></p>

<!-- Edit and Delete links -->
<%= link_to 'Edit', edit_user_path(@user), class: "button" %> |
<%= link_to 'Back to Users List', accounts_path, class: "button" %>
<%= link_to 'Delete User', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
